<!DOCTYPE html>
<html lang="pt-br" th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"><!--Import Thymeleaf-->
<head>
	<meta charset="UTF-8" />
	<title>JAcademy</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /><!--Import materialize.css-->
	<link href="/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css" />
</head>
<body>
<h1 style="text-align: center;"><strong>Área restrita para administradores do sistema</strong></h1>

<a class="waves-effect waves-light btn" href="/">Início</a>

</body>
</html>
